@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&family=Roboto:wght@500&display=swap');


body {
font-family: 'Poppins',sans-serif;
min-height: 100vh;
background-color: #DADFE8;
align-items: center;
justify-content: center;
display: flex;
}


.pokedex{


display: flex;
gap: 30px;

}